<h1>All Recipes</h1>

<div>
	<%= link_to "Add a new recipe", new_recipe_path %>
</div>

<div class="container">
<% @recipes.each do |recipe| %>
		<div class="well col-md-3">
			<h3><%= link_to recipe.name, recipe %></h3>
			<ul>
				<% recipe.ingredients.each do |ingredient| %>
				<li><%= ingredient.name %>: <%= ingredient.quantity %></li>
				<% end %>
			</ul>
		</div>
<% end %>

</div>